body {
  background-color: #f5f5f5;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
}



a {
  text-decoration: none;
  color: #333;
}


header {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

}

nav li {
  margin-right: 20px;
}

nav a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: all 0.3s ease;
}

a:hover {
  color: #ff000d;
}

/****** Roadmap ******/
#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;

}


.roadmap {
  display: none;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 500px;
  margin-right: 20px;
  margin-top: 20px;
}

.roadmap h2 {
  text-align: center;
}

.roadmap p {
  text-align: justify;
}

.roadmap aside {
  text-align: center;
  font-style: italic;
  border: 1px solid green;
  background-color: #039603;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  ;
}

/****** Main *******/
main {
  margin-top: 30px;
  padding: 20px;
}

#timeline {
  display: none;
}

/****** Profile *******/

.containerprofile {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 80%;
  margin: 0 auto;
}

.contact-card {
  width: 300px;
  /* Breite der Karte anpassen */
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.contact-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.contact-card h2 {
  margin-top: 0;
}

.contact-card p {
  margin-bottom: 0;
}

@media only screen and (max-width: 915px) {
  .containerprofile {
    width: 100%;
  }

  .contact-card {
    width: 100%;
    margin-bottom: 20px;
  }

body{
background-color: green;
}
 
 .roadmap {
    width: 80%;
  }

}